.TopicTags {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.TopicTag {
  padding: 0.25em;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  color: black;
  cursor: pointer;
  transition: 200ms ease;

  &.on {
    background-color: yellow;
  }
}