.structure {
  display: inline-block;
  font-family: var(--font-mono);
  font-size: 0.9rem;
  background-color: #f8fafc;
  border: 1px dashed #cbd5e1;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  color: var(--primary);
  font-weight: 500;

  @media(prefers-color-scheme: dark) {
    background-color: #0f172a;
    border-color: #334155;
  }
}